[2016-05-12 23:08] scottnonnenberg opened #1 "Documentation for each rule?"
Hi there. Thanks for this plugin - I've got it installed and just about every rule enabled.

But I'd love to know more about some of these. In particular, the `detect-object-injection` rule isn't explained very well. I took a look at all the blog entries listed here: https://nodesecurity.io/resources, but I didn't find anything.

Maybe just deep links into some of the talks on that page would be e

[2016-05-12 23:11] evilpacket commented on #1
Yeah this is a pretty unmaintained set of rules atm. This might explain things a bit better https://blog.liftsecurity.io/2015/01/15/the-dangers-of-square-bracket-notation

[2016-05-12 23:31] jlamendo commented on #1
@scottnonnenberg That rule in particular generates a large amount of false positives, but I use it in a non-standard way. I use this custom ruleset for eslint in sublime, to highlight potential problem areas and draw attention to them.

The rule detects any location where an object property is accessed using square bracket notation, and where the input is a non-literal - i.e. a variable or compute

[2016-05-13 06:53] jesusprubio opened #4 "Linter and formatter"
What about using an style guide? I'm starting to use the [AirBnb one](https://github.com/airbnb/javascript) in all my projects. This are the reasons:
- One of the most completes.
- ES6.
- ESLint setup file available with checks for everything covered in the Style guide.

More options:
- http://noeticforce.com/best-javascript-style-guide-for-maintainable-code
- https://github.com/feross/standard

I

[2016-05-13 15:26] wraithgar commented on #4
This is the eslint style plugin we use for nsp stuff https://github.com/nodesecurity/eslint-config-nodesecurity

[2016-05-15 19:49] jesusprubio commented on #4
Nice, it's almost equal the one I like :). I've changed the style of the code of my PR to respect it (https://github.com/nodesecurity/eslint-plugin-security/pull/3).

If you want I can do it in the rest of the code once we merge the PR.

Thanks :)

[2016-06-15 11:00] radiovisual opened #5 "detect-object-injection only reporting rule name (with empty data)"
When `detect-object-injection` is run on Windows, it results in the following output:

![image](https://cloud.githubusercontent.com/assets/5614571/16059134/9b0708bc-3279-11e6-8d90-5a23dbe1f75e.png)

Seems the plugin in only reporting the rule name, but nothing else that we would expect to see in the output, like the line number, or the filename, etc...

[2017-02-09 17:53] #1 closed

[2017-02-09 19:31] pdehaan opened #9 "Add recommended rules to plugin config?"
It may be super-neat if there was a recommended config bundled in the plugin (Ref: [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react/blob/c5862733264aa304fbee8241ce1d6dbafc96e69e/index.js#L101-L126)).

This would let us do something like:

[code]

I think it's as easy as adding a `configs.recommended.rules` object to the index.js:

[code]

Individual rules can overridden in th

[2017-04-05 14:32] travi commented on #9
is this something that the team is open to? recommended rulesets do greatly simplify plugin inclusion. would you accept a PR with a recommended set that enabled all rules as errors?

[2017-04-06 10:02] Fetz opened #13 "security/detect-non-literal-fs-filename bug"
In a react Component, I'm getting this warning even if I'm not using fs.open

[code]

[2017-04-06 14:16] evilpacket commented on #13
Yes this is known and common behavior for these rules. This set of rules is useful for auditing but not as part of a normal build process as it generates lots of false positives that are quite easy to visually figure out but are sometimes hard to implement.

We certainly need some help in improving the rules and so if anybody wants to find the best way of tracking if this actually points to a requ

[2017-04-06 18:54] jlamendo commented on #9
I believe this was resolved with #10

[2017-04-06 18:54] #9 closed

[2017-04-06 18:58] travi commented on #9
ah, nice. would be great if it were mentioned in the usage section of the readme.

[2017-04-12 15:38] NikitaLiashenko opened #15 "The keyword 'const' is reserved"
Trying to use this plugin got a strange mistake in every file:
`Parsing error: The keyword 'const' is reserved`
Is there any ability to use it with ES6 code?

[2017-04-12 16:08] wraithgar commented on #15
This is only a plugin not a full fledged config, you will also need a directive in your eslintrc that tells eslint you are using es6.

[2017-04-20 08:38] swernerx opened #16 "Should not mention filename in error output"
Currently the plugin is not just mentioning the error message itself but also adds the filename.

[code]

which actually makes a lot of noise compared to other eslint checks.

ESLint already lists exactly the same issue location as the one mentioned in the message. So this is duplicate information.

[2017-04-20 14:56] evilpacket commented on #15
An example of this is in https://github.com/nodesecurity/eslint-config-nodesecurity/blob/master/index.js

[2017-04-20 14:56] #15 closed

[2017-04-20 14:56] #13 closed

[2017-06-03 01:24] pdehaan commented on #4
I can do this after the 2 existing PRs are merged (to avoid massive collisions).
I'll probably run the current code through **prettier** and then add a basic ESLint setup to keep things slightly more kosher.

[2017-06-03 18:19] pdehaan commented on #4
Briefly looked at this today and it was fairly painless w/ **prettier** CLI and ESLint's `--fix` flag. Only needed a bit of manual tweaking...

For my future reference, here's the configs:

[code]

and the package.json `scripts` block:

[code]

[2017-06-12 23:17] ai opened #18 "Add ChangeLog"
Reasons: http://keepachangelog.com/en/0.3.0/

Right now I need to update from 1.2 to 1.3 and can’t understand what are new features — commits list long and not clear.

[2017-06-12 23:18] evilpacket commented on #18
Good idea.

[2017-06-12 23:23] evilpacket commented on #18
Given the speed at which things happen though umm it's unlikely to be done quickly (just setting expectations :). Is there a good way that you know to do this without it being a manual pain in the posterior?

[2017-06-12 23:24] ai commented on #18
You can just start writing ChangeLog for new releases. It will be better than nothing.

[2017-06-13 00:08] pdehaan commented on #18
Super simple implementation using [**changelog**](https://www.npmjs.com/package/changelog) in PR #19. I had to manually delete some non-informational commit messages. 🤷‍♂️

Also, not sure how well this plays with non-published versions of the module. So I think it won't show any commits since the last version was published to npm.

[2017-06-13 00:10] ai commented on #18
Yeap, autogeneration is good solution for old versions.

Only now, that I think manually ChangeLog for *new* versions are much better. You can highlight breaking changes and describe changes from user perspective, not code perspective.

[2017-06-13 00:10] pdehaan commented on #16
Attempted PR at #17.

[2017-06-13 00:27] #16 closed

[2017-06-13 00:27] #18 closed

[2017-06-13 06:17] pdehaan commented on #4
PR submitted as #20

[2017-06-13 06:19] pdehaan commented on #5
This _may_ have been fixed in v1.4.0 (see #17), which removed a lot of stuff like file names and line numbers, because it is already in the default ESLint reporter.

[2017-08-30 13:14] benderTheCrime opened #21 "A more relevant "detect-object-injection""
Is there any way that we can work towards a more helpful/relevant report of Object injection sinks?

I can't think of a relevant security use case where Object injection would be relevant outside of the scope of a function directly linked to a web service.

I can understand based on tree traversal that determining the difference in between functions that are used in response to direct network call

[2017-08-30 15:41] evilpacket commented on #21
There are many instances in which Object Injection could be relevant. The pattern is RARE and shows up in random locations @jlamendo can probably talk more about that. Jon wrote a good post on it here https://blog.liftsecurity.io/2015/01/14/the-dangers-of-square-bracket-notation/

We know Object injection is pretty false positive prone and it would be nice to move towards having better accuracy on

[2017-08-30 22:56] benderTheCrime commented on #21
Hey, thanks for getting back to me!

I read the article and that you linked. Yes, I know this was the case, but for the most part, if there is user defined input, it's likely coming from a function argument. If a user has the ability to define an environment variable or futz with primordials/the node module cache, you've got bigger issues!

If I were to create a PR that exposed an option to limit

[2017-10-24 02:50] rossPatton opened #22 "Several issues with using this plugin"
1. The `security/detect-non-literal-fs-filename` rule reports `fs.${whatever}` regardless of whether that's what i'm using or not. For example, i use jsonFile a lot, so an error with `jsonFile.readFile` gets reported as `fs.readFile`, when there is no reference to fs on that page. Sure, the error probably still applies, but it's confusing when the error output doesn't line up with the actual code

[2017-10-24 04:24] evilpacket commented on #22
1 - This is a known issue unfortunately. If you look at the source you can see that we are only looking for method calls.  If somebody wants to track those references we would accept a pull request.

2 - We could probably improve the documentation here. To clarify for you it's simply pointing out that it could be user input in one of those calls (a variable vs a literal string), which could or cou

[2017-10-24 05:48] lirantal commented on #22
@rossPatton about safe-regex, it may also report issues due to a potential complexity detected.

[2017-11-30 18:16] dskrvk opened #25 "Documentation for `detect-new-buffer` is missing"
This was added in https://github.com/nodesecurity/eslint-plugin-security/pull/7 but somehow got removed later. In addition, that original description was a bit terse - can you include an explanation and/or a link as to why this is bad?

E.g. [`amqplib`](https://www.npmjs.com/package/amqplib#promise-api-example) requires using a Buffer ctor with an arbitrary String argument to send messages. I coul

[2017-12-20 21:18] fluxsauce opened #26 "False positive detect-non-literal-fs-filename on _.exists"
Using `lodash` `4.17.4` and `lodash-exists` `1.0.3`.

[code]

`Found fs.exists with non literal argument at index 0  security/detect-non-literal-fs-filename`

[2017-12-20 21:38] evilpacket commented on #26
yup. This needs to be re-written to actually see if fs was used, track it's assignment and make sure that method calls are on those objects. It's not impossible, we do a hacky version of it in the child_process.exec check.

[2018-01-18 22:19] fxedel opened #27 "Conflict with ESLint quotes "backtick""
In our project, we decided to always use template literals with backticks instead of normal quotes as [Template Literals are Strictly Better Strings](https://ponyfoo.com/articles/template-literals-strictly-better-strings). So we want to use ``const str = `text`;`` instead of ``const str = 'text';``. See [our issue on that topic](https://github.com/FloEdelmann/open-fixture-library/issues/290).

Unf

[2018-03-29 18:27] davisjam opened #28 "Better unsafe regex detector"
Hi all,

I'm a systems/security researcher at Virginia Tech and have been studying the incidence of vulnerable regexes in the wild.

This plugin's [unsafe regex detector](https://github.com/nodesecurity/eslint-plugin-security/blob/master/rules/detect-unsafe-regex.js) relies on [safe-regex](https://github.com/substack/safe-regex), which uses star height (nested quantifiers) to identify unsafe regex

[2018-03-31 13:02] davisjam commented on #28
I'm happy to submit a PR with a demonstration if desired.

[2018-04-02 06:35] ozsay commented on #26
@evilpacket any word on a possible fix?

[2018-04-22 11:43] assapir opened #29 "detect-non-literal-require doesn't recognise backticks as literal"
code sample:
[code]
will mark this line with a problem

[2018-05-28 19:10] nestoru opened #31 "detect-child-process TypeError: Cannot read property 'type' of undefined"
Unless I use the below:

[code]

The linter fails with:

Is this a known issue with detect-child-process ?

[2018-05-30 05:16] gcmurphy commented on #29
Looks like this is a duplicate of #27

[2018-06-06 07:40] lionello commented on #31
Same here, got triggered on a `.exec()`.

[2018-06-06 07:59] lionello commented on #31
https://github.com/nodesecurity/eslint-plugin-security/blob/b72890b2b97245cf40a10a6ddb13918aad57790c/rules/detect-child-process.js#L22

This line causes the #31 for me because it ended up adding `undefined` to the `names` array. Changing the line to check for a valid name fixes this:

[code]

[2018-06-10 11:25] mannyhenri opened #33 "Are you still working on this?"
Very interested in this plugin but is it possible you're not maintaining it anymore since the acquisition? ESLINT in my opinion is probably the best approach to write implement best practices around writing secured code.

If you're not maintaining it anymore would you be open to transfer this project to me? I'd like to keep it alive and update it with other rules.

[2018-06-10 11:53] jesusprubio commented on #33
Same here, are you still working on it? I would like to keep contributing. A "npm audit-code" or something similar would be awesome :)

[2018-06-10 11:56] mannyhenri commented on #33
@jesusprubio if we don't get an answer back let's fork this and keep it alive somewhere else...

[2018-06-10 12:04] jesusprubio commented on #33
Sure, but lets give them some days, it's Sunday today :). I have more rules and some ideas implemented locally, like support for rules to check the absence of stuff (instead the presence).

[2018-06-10 12:05] mannyhenri commented on #33
@jesusprubio of course can't wait to see what you came up with.

[2018-06-12 22:31] mannyhenri commented on #33
@jesusprubio juste got word from the NPM team that our best option is to fork and work on it ourselves. So I'll fork it and invite you, works for you?

[2018-08-08 15:10] karlismelderis opened #34 "reference to external sources"
I think each rule should point to some resource which is maintained by project or some reliable source not just blog post :)
e.g. https://blog.liftsecurity.io/2015/01/14/the-dangers-of-square-bracket-notation/ is dead already

for example this is good option and sits with rule itself.
https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-dynamic-require.md

[2018-08-22 22:41] trycrmr commented on #33
Opened this topic on npm.community: https://npm.community/t/what-are-the-plans-for-eslint-plugin-security/1615

[2018-08-30 20:20] tinyels commented on #34
At the moment the liftsecurity blog is down which highlights the importance of keeping the documentation with the rules.

[2018-08-31 10:26] p-fernandez opened #35 "This plugin overrides current eslint rules"
I am using this .eslintrc.json configuration:
[code]

By using the `eslint-plugin-security` for example the rules:
[code]
are being overriden and `eslint` don't raise the notice.

Is it a problem of mine for a bad config file or a plugin problem?

Configuration:
OS: OSx 10.13.6
Text editor: VIM v.8.1.300 using ALE plugin v.2.1.0

[2018-09-06 02:56] Fandekasp commented on #21
@evilpacket can we get a new link for documenting detect-object-injection ? http://blog.liftsecurity.io/?_xas=676000da7b329d888e52606beed6ce6bb6b4c0ac is dead

[2018-09-12 10:32] DanielRuf opened #36 "add TravisCI / CircleCI and AppVeyor"
Currently we have unit tests but these are not tested for every commit and PR.

[2018-09-13 18:13] jlamendo commented on #21
^liftsecurity was acquired by npm, Inc. earlier this year. As part of the transition, our blog content was taken down. We intend to re-post it at some point in the future, but for now, it's no longer accessible at the old URLs.

The `privacysniffs.com` link posted above is plagiarized from my blog post word for word, and attributed to another author.

The Internet Archive has a copy of my original

[2018-09-14 19:31] OctavioBR commented on #35
You should specify only one `extends` key in your eslintrc. E.g.:
[code]

[2018-09-17 11:52] p-fernandez commented on #35
That fixed my problem. Thanks for the input.

[2018-09-17 11:52] #35 closed

[2018-10-18 19:16] amazzoccone commented on #33
Topic was closed 😞.

[2018-10-27 20:54] evilpacket commented on #33
Yup I’ll accept pr’s! would be good for some updates to rules. Happy to
give maintainership as well as needed as I can’t always get to things.

On Wed, Jun 13, 2018 at 5:25 AM Manny Henri <notifications@github.com>
wrote:

[2018-10-27 21:54] pdehaan commented on #34
@evilpacket Are the old blog posts available somewhere now that he old Lift site is dead?

[2018-10-28 15:44] dannytce opened #39 "Add eslint-plugin-security"
https://github.com/nodesecurity/eslint-plugin-security

[2018-10-28 15:44] dannytce opened #40 "Add eslint-plugin-xss"
https://github.com/Rantanen/eslint-plugin-xss

[2018-10-28 18:45] #39 closed

[2018-10-28 18:45] #40 closed

[2018-11-01 01:49] caffeineandfoxes opened #41 "Links Referencing linksecurity.io Broken"
Links referencing `linksecurity.io` in the README file are broken. Based on the results of browsing to one of these links, it appears the domain registration may have expired/the site is no longer available.

**Expected Result:** Browsing to a `linksecurity.io` link directs the user to a post further explaining a rule.

**Actual Result:** The user is directed to a generic landing domain registrar

[2018-11-01 06:55] pdehaan commented on #41
I think this is duplicate of https://github.com/nodesecurity/eslint-plugin-security/issues/34

[2018-11-02 17:04] caffeineandfoxes commented on #41
It's a little different since #34 seems to be looking for more reliable and reputable sources, but definitely in the same school of thought. Is this an item where help is needed/wanted?

[2019-01-17 07:43] nilupull opened #42 "Dev pipeline is failing due to pers-api build project"

[2019-01-17 07:44] #42 closed

[2019-02-03 11:22] MeenaAlfons commented on #26
More false positives for `security/detect-non-literal-fs-filename`. Example:

<img width="187" alt="screen shot 2019-02-03 at 13 21 14" src="https://user-images.githubusercontent.com/5175706/52176097-9e9aff80-27b6-11e9-94aa-a9c9edb64743.png">

Error:

[2019-02-03 21:12] DanielRuf opened #43 "Current project status"
Hi, what is the current status of this project? Is it still actively maintained?

[2019-02-06 11:47] MVrachev commented on #33
Is there an active fork of this project somewhere?
Because there is no response from @evilpacket again...

[2019-02-06 11:48] MVrachev commented on #43
I am wondering the same...

[2019-02-06 12:09] webschik commented on #33
@MVrachev, I support a version for TSLint - https://github.com/webschik/tslint-config-security, if you're interested.

[2019-02-06 13:28] MVrachev commented on #33
Wow, awesome! Thank you @webschik! I will have a look.

[2019-02-22 19:36] codymikol commented on #34
If it is of any help you can view an archive of that blog post here: https://web.archive.org/web/20150430062816/https://blog.liftsecurity.io/2015/01/15/the-dangers-of-square-bracket-notation

[2019-02-22 21:09] codymikol commented on #43
@evilpacket @nlf

[2019-02-22 21:10] codymikol commented on #34
Made a pull request for the above

[2019-03-08 16:26] marcospgp commented on #21
This rule should at least detect whether a variable is coming from outside or if it has been declared as a literal. Take for example this code:

![image](https://user-images.githubusercontent.com/3464445/54041170-edc1bf00-41be-11e9-99fa-73c8b9903168.png)

I'm gonna turn off this rule in the meantime because this is too much 😄

[2019-03-08 16:30] marcospgp commented on #21
Actually I managed to circumvent the issue here with this:

![image](https://user-images.githubusercontent.com/3464445/54041378-79d3e680-41bf-11e9-8e45-303b96c167ff.png)

But the point still stands 😃

[2019-03-27 19:37] kewilson commented on #33
So is this going to be maintained? If not has anyone found a suitable drop-in replacement? I'd also pony up time for being a maintainer to keep the repo alive and well going forward if there are no suitable replacements.

[2019-03-27 20:46] MVrachev commented on #33
I found one replacement - https://github.com/webschik/tslint-config-security.
That's a TSLint plugin. TSLint scans TypeScript files the same as ESLint does.

Because TypeScript is a superset of JavaScript [TSLint](https://github.com/palantir/tslint) can use its rules upon JavaScript files after configuration.

First, you need to install TSLint and configure it.
Here is an example configuration to

[2019-04-02 19:49] evilpacket commented on #34
I've pulled in the web archive links for now. The old blog posts are available in markdown format and I could bring them into the rules. I'll look at the option above mentioned by @karlismelderis to get our documentation improved.

[2019-04-02 19:51] evilpacket commented on #33
I'd like to get some maintenance going on this again. I'm bad at open source and would welcome in some maintainers to assist. I'm on PTO this week and if I get a few hours here or there I plan to follow up on some of the PR's and issues.

If you would like to help maintain I'd like to chat.

[2019-04-02 19:52] evilpacket commented on #43
Updated status in https://github.com/nodesecurity/eslint-plugin-security/issues/33

[2019-04-02 19:52] #43 closed

[2019-04-02 19:54] evilpacket commented on #28
@davisjam You've updated safe-regex since submitting this and I plan to bring in that change.

For something that hits an external source I'd like it to be configurable or a different rule and clear as to what is sent to the remote server etc. A lot of people get nervous when code they are scanning starts to get sent to a remote destination, but having this capability would be nice. Would the serv

[2019-04-02 19:55] evilpacket commented on #41
Closing as there was a PR opened to change to webarchive links. I think in the end we'll just move documentation from external links into the project itself.

[2019-04-02 19:55] #41 closed

[2019-04-02 20:55] lirantal commented on #28
@evilpacket the gist of it is probably all at https://github.com/davisjam/vuln-regex-detector/

[2019-04-03 10:55] Berkmann18 commented on #33
I'm down for helping in maintaining this package.

[2019-04-03 10:56] Berkmann18 commented on #33
I'm down for helping in maintaining this package.

[2019-04-03 14:42] codymikol commented on #33
Let me know how I can help out :)

[2019-04-03 16:48] pdehaan commented on #33
@evilpacket Is the contents of blog.liftsecurity.io still available somewhere (or do we have to use archive.org to try and scrape the cached content)?
It'd be nice to put the docs along with the rules instead of having to rely on archive.org links.

[2019-04-03 21:22] evilpacket commented on #33
@pdehaan yes all the markdown files are still available but it's a private repo. Let's coordinate this via https://github.com/nodesecurity/eslint-plugin-security/issues/34

[2019-04-03 21:28] evilpacket commented on #34
@pdehaan Here are the referenced original markdown files dug out of the private lift security blog

- https://gist.github.com/evilpacket/15aa351a4533422b69e01ddd3500657b
- https://gist.github.com/evilpacket/5a9655c752982faf7c4ec6450c1cbf1b
- https://gist.github.com/evilpacket/c1476f55138830d8b0c83b12f3670647
- https://gist.github.com/evilpacket/36a60080a50db09721c4563228551d2b

[2019-04-03 22:51] pdehaan commented on #34
@evilpacket Thanks... I took a stab at this in PR #47.

[2019-04-12 16:10] Arcanemagus opened #48 "Rule documentation in metadata"
ESLint defines a metadata property ([`meta.docs.url`](https://eslint.org/docs/developer-guide/working-with-rules)) for rules to specify a URL where the full documentation for the rule can be found.

One of your users recently submitted https://github.com/jfmengels/eslint-rule-documentation/pull/35 to get documentation links showing in _some_ places, but this should be being specified using the met

[2019-04-15 16:34] achimkoellner opened #49 "Should __dirname be ignored in detect-non-literal-require?"
`const utils = require(__dirname + '/utils');`
results in security/detect-non-literal-require warning although using the node constant `__dirname` is a common pattern.

Shouldn't this be handeled by a global whitelist?

[2019-04-17 21:13] evilpacket commented on #48
This sounds like a good idea and something I wasn't aware of. We can likely just have docs in the github repo and then point to them correct?

[2019-04-18 17:28] Arcanemagus commented on #48
Yep! A common tactic is to generate the URL to point to the specific release tag of the version the user is running, so if the documentation has changed at a later point as the rule updates they aren't seeing conflicting information.

If I were to implement it currently I would use something like this:
[code]

That's a combination of functionality from a few different previous PR's where I impleme

[2019-04-23 17:14] sergio-domingues commented on #31
any updates on this ?

[2019-05-30 14:25] Mahan-F opened #50 "Console text bold after running this extension"
I have just installed this extension and I noticed is that my console text is stuck on bold right after the extension runs.

Maybe there is some text formatting that is not reset after it is done?

I'm using VS Code IDE.

![image](https://user-images.githubusercontent.com/6375360/58639595-eca4b780-82ff-11e9-8d17-0f093949f227.png)

[2019-06-06 13:06] EvgenyOrekhov opened #51 "detect-child-process false-positive with spawn"
[code]

Gives the `Found require("child_process")` error.

According to [Avoiding Command Injection in Node.js](https://github.com/nodesecurity/eslint-plugin-security/blob/master/docs/avoid-command-injection-node.md), `child_process.spawn` is safer than `child_process.exec`.

So is it a false-positive, or does the `detect-child-process` rule tell me to completely avoid using `child_process`?

[2019-09-11 01:46] devinrhode2 commented on #21
This rule has a lot of obvious false positives. A for loop with an int that is being incremented - no injection risk. For in loops should be converted to Object.keys(obj).forEach(prop => {...}).
But then each line inside the object.keys foreach loop has to be ignored, when it's clearly safe, because the keys are coming from Object.keys (which will ignore prototype/etc)

[2019-09-11 17:54] devinrhode2 commented on #28
Yeah I think best bet here is to not be sending anything to a remote server, and instead implement the caching stuff locally....
At least ask the person running this tool for permission when a new regex is being sent out

[2019-09-11 18:01] davisjam commented on #28
The server-side code is available, but would have to be run on the user's side.

Unfortunately the existing advanced analyses are written in Java and OCaml, not JS.

I have [half a million labeled regexes](https://github.com/VTLeeLab/LinguaFranca-FSE19), so I suppose another option is to ship this database in `safe-regex` in compressed form as a "cache" of sorts.

[2019-09-12 01:51] MatthewHerbst commented on #28
@davisjam is there a technical reason preventing the tools from being written in JS, or has that work just not been done by anyone?

[2019-09-12 01:52] MatthewHerbst opened #52 "Capture group names causing linter to report unsafe regex"
The linter reports this as unsafe:

[code]

The linter report this as safe:

[code]

Is there something unsafe about named groups, or the regex as I have it, or is this a false positive?

[2019-09-20 06:45] Prashanth-P-Prabhu opened #53 "Plugin security/recommended giving link error"
When I use security/recommended plugin the url in the report points to a link which does not exist(404). Eg:- https://eslint.org/docs/rules/security/detect-object-injection

The solution is to have an extra else condition in template-generator.js
else if (_.startsWith(ruleId, 'security')) {
		ruleId = ruleId.replace('security/', '');
		ruleLink = `https://github.com/nodesecurity/eslint-plugin-secu

[2019-10-02 21:39] devinrhode2 commented on #21
In addition to converting loops to use Object.keys we can also use Object.values and Object.entries. Object.entries is a little ugly unless you use destructuring
[code]

[2019-10-02 22:34] devinrhode2 commented on #21
Working on a bullet proof way to make all use of square brackets safe: https://stackoverflow.com/questions/57960770/securely-set-unknown-property-mitigate-square-bracket-object-injection-attacks/58204173#58204173

Please help!

[2019-10-05 00:17] feenst commented on #26
Also fails for [RegExp.prototype.exec()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/exec):

![image](https://user-images.githubusercontent.com/997971/66246649-7c9da800-e6ca-11e9-9c87-ea7d3f38bd02.png)

Error:

[2019-10-12 22:10] freaktechnik opened #54 "False positive for detect-non-literal-fs-filename"
`detect-non-literal-fs-filename` seems to also be triggered when passing `fs.writeFile` to other functions, especially explicitly safe ones like `util.promisify`.

The message is also quite wrong ("Found `fs.writeFile` with non literal argument at index 0") while the actual warning is more that it's being passed in to a function and who knows what that function does with it?

[2019-11-08 13:10] PPInfy opened #55 "Plugin security/recommended giving link error"
When I use security/recommended plugin the url in the report points to a link which does not exist(404). Eg:- https://eslint.org/docs/rules/security/detect-object-injection

The solution is to have an extra else condition in template-generator.js
else if (_.startsWith(ruleId, 'security')) {
ruleId = ruleId.replace('security/', '');
ruleLink = https://github.com/nodesecurity/eslint-plugin-security#

[2019-11-08 13:11] Prashanth-P-Prabhu commented on #53
closing this issue and reopening it #55

[2019-11-08 13:11] #53 closed

[2019-12-15 18:43] magmel48 opened #56 "Is it alive?"
Seems like developers left the library development. So many issues not answered.

[2019-12-17 18:00] mikecbrant commented on #54
+1 on this issue.

Code to reproduce...

[code]

[2020-01-09 16:20] oprogramador opened #57 "tslint"
How can I use this plugin with TSLint?

When I tried adding it to `tsconfig.json`, I got `Invalid "extends" configuration value - could not require "plugin:security/recommended". Review the Node lookup algorithm (https://nodejs.org/api/modules.html#modules_all_together) for the approximate method TSLint uses to find the referenced configuration file.`

[2020-01-09 16:46] oprogramador commented on #57
I found https://github.com/webschik/tslint-config-security

[2020-01-09 16:46] #57 closed

[2020-01-11 09:43] oprogramador opened #58 "continuous integration"
Could you add a continuous integration so I could check whether the build is passing?
Eg. Travis CI - it's proven to be good and it's free for Open Source.

[2020-01-16 14:39] gkouziik commented on #56
I implemented a similar security plugin which focuses on server side security vulnerabilities in node.js!
Look for **eslint-plugin-security-node** in npm and github! I am looking for co-workers to maintain and develop it!

[2020-01-16 14:42] gkouziik opened #60 "Develop & Maintain"
I developped a similar plugin which focuses in server side vulnerabilities in node.js. Looking for co-workers to develop and maintain it!
Plugin name in npm: **eslint-plugin-security-node**

[2020-03-23 15:06] joshuagoran commented on #26
I'm seeing similar false positives. any chance these might be resolved? for me, I'm seeing it with TestCafe assertions.
![Screen Shot 2020-03-23 at 11 04 41 AM](https://user-images.githubusercontent.com/35858093/77330870-53171e00-6cf6-11ea-8378-698cb2ce778e.png)

[2020-03-25 15:08] FelixRe0 commented on #54
+1
Seems to also false positive on a variable with a .link key
`Found fs.link with non literal argument at index 1 security/detect-non-literal-fs-filename `
ie:
`console.log('this should not be an issue', item.link)  `

[2020-04-13 12:55] ZuBB commented on #26
same for `window.open()`

[2020-05-28 14:37] UziTech commented on #33
@evilpacket are you still looking for maintainers for this repo?

[2020-05-29 01:32] Luxcium commented on #26
same for me with `exists` in

[code]

[2020-07-15 14:28] cope commented on #54
Also
Found fs.truncate with non literal argument at index 0
`_.truncate(item.description, {...`

[2020-07-19 22:15] EvgenyOrekhov commented on #52
Minimal reproducible case: `/(?<foo>bar)/` (reported as unsafe).

It's a false-positive.

[2020-07-21 15:02] modestfake commented on #54
It also false positive for any function with name which overlaps with fs method names:
[code]

[2020-07-21 15:06] modestfake commented on #51
I found the case when this rule is false-positive
[code]

[2020-07-21 16:16] EvgenyOrekhov commented on #51
@modestfake Your case is different. You should open a separate issue for it.

[2020-07-21 17:18] modestfake opened #64 "detect-child-process false-positive with exec"
This plugin treats `RegExp.prototype.exec()` as `child_process`'s method `exec`.

[code]

[2020-08-05 19:06] Hongbo-Miao opened #65 "False alarm for “Found fs.readFile with non literal argument at index 0”?"
Originally asked at https://stackoverflow.com/questions/63262683/how-to-fix-found-fs-readfile-with-non-literal-argument-at-index-0

Copy to here:

---

I am trying to add [eslint-plugin-security](https://github.com/nodesecurity/eslint-plugin-security) in a TypeScript project. However, for these codes

    import { promises as fsp } from 'fs';
    import fs from 'fs';
    import path from 'path';

[2020-09-03 13:02] Tjerk-Haaye-Henricus commented on #65
Same for fs.link and fs.exists

[2020-09-03 13:06] Tjerk-Haaye-Henricus opened #66 "Is this still maintained ?"
Since the last commit is from 4.April 2019 ?

[2020-09-03 14:45] pdehaan commented on #66
I don't think anybody is maintaining this (per similar unanswered questions in #33 and #56).

[2020-09-12 21:42] #36 closed

[2020-09-27 05:59] Deepesh316 commented on #65
Any fix for this?

[2020-09-27 06:00] Deepesh316 commented on #54
Any fix for the same?

[2020-10-13 13:08] ankurnarkhede commented on #65
Any update on this?

[2020-10-26 17:54] Elindorath commented on #65
I think your example could be treated as a false alarm.

But the rule works as expected. It basically reports all variables usage in a file path argument.
This should be a valid warning only if the variables used are holding some user input but eslint can't do much better with code static analysis.
As showned in the [README.md](https://github.com/nodesecurity/eslint-plugin-security/blob/master/REA

[2020-11-11 20:32] gkouziik commented on #33
@UziTech I am looking for maintainers for my repo **eslint-plugin-security-node** is the package name in npm.

[2020-11-12 01:03] UziTech commented on #33
@gkouziik is that a fork of this package?

[2020-11-12 07:34] gkouziik commented on #33
No, its not a fork

[2020-11-12 07:35] gkouziik commented on #33
@UziTech No its not a fork, they just have some similar rules

[2020-11-13 03:16] UziTech commented on #33
@gkouziik I would be willing to help maintain it.

[2020-11-15 18:24] kkalavantavanich commented on #60
@gkouziik Nice plugin! But I assume that it's mutually exclusive from this plugin (eslint-plugin-security), right? I have a use case for a writing a library that is not exactly dependent on Node.JS.

[2020-11-16 08:26] gkouziik commented on #60
This plug-in is based on node.js vulnerabilities and its third party libraries, like express framework. Sure if you have some ideas I would like to hear them

[2020-11-24 10:27] MakeNowJust commented on #28
@davisjam I will introduce my research [MakeNowJust-Labo/redos](https://github.com/MakeNowJust-Labo/redos).

This is a **hybrid** ReDoS detection library. "Hybrid" means, it combines automaton based detector and fuzzing based detector. When the RegExp pattern is hard to be checked by the automaton based, it switches to use the fuzzing based. This allows checking many patterns in the real world.

T

[2020-11-24 15:49] davisjam commented on #28
@MakeNowJust Thanks for letting me know about it! Looks cool.

I looked over the documentation (not the implementation) but I'm not sure exactly what you've made. Are you building on the academic research on the topic (e.g. Shen for fuzzing, Weideman/Wustholz/Rathnayake for NFA analysis)? What guarantees does the library offer?

[2020-11-24 17:02] MakeNowJust commented on #28
@davisjam I'm not sure the below may be an answer to you. Sorry that my English is poor.

- Automaton based detector: It checks whether the pattern potentially causes catastrophic backtracking (exponential, and 2nd or higher degree polynomial matching time) or not. This detector is built on automata theory, like Weideman's [RegexStaticAnalysis](https://github.com/NicolaasWeideman/RegexStaticAnalys

[2020-12-02 01:26] davisjam commented on #28
@MakeNowJust Happy to discuss more over email -- I sent you a note a few days ago.

[2020-12-09 11:39] adrianhelvik opened #67 "Heuristics for detect-object-injection"
security/detect-object-injection is a really important rule, but needs some love to become practical. What about adding some light heuristics?

**A value is safe if either:**
- It is a literal primitive or undefined
- It is an expression which contains only safe values with operators (`a:safe + b:safe * c:safe` is safe, while `foo() + x:safe` is unsafe)
- It is a template string whose interpolated

[2020-12-09 11:49] adrianhelvik commented on #67
The same type of heuristic would be useful for security/detect-non-literal-fs-filename. Maybe with `@fsSafe` as the annotation.

[2021-01-08 18:16] jbaris commented on #26
same for $uibModal.open()

[2021-05-25 21:36] Slapbox commented on #56
@gkouziik thank you for sharing!

[2021-05-25 21:36] Slapbox commented on #66
I advise taking a look at this similar project: https://github.com/nodesecurity/eslint-plugin-security/issues/56#issuecomment-575181090

[2021-07-11 12:37] XERXES-MOUSAVI opened #69 "TypeError: Cannot read property 'type' of undefined in detect-child-process rule"
**Description**

I get **TypeError** while linter is detecting **MemberExpression** of `detect-child-process` rule. The problem occurs while it's checking the `exec()` method. I'm using Mongoose as ODM to work with MongoDB. As it references [here](https://mongoosejs.com/docs/api.html#query_Query-exec), there is an `exec()` method on its Query prototype to execute what query or callback we expect.

[2021-08-25 15:07] kamal250 commented on #65
I have another example. I am trying to open `MatDialog` with a component in Angular so I have to disable the rule for this line:

[code]

[2021-09-16 16:14] alvarocantador commented on #54
+1 on this issue.

[2021-09-30 11:02] catalin-onutu-depop commented on #26
Same for `.watch` (with TS).
E.g.
[code]

[2021-10-13 01:53] jimisaacs opened #70 "Is this a timing attack?"
This doesn't seem right.
<img width="456" alt="Screen Shot 2021-10-12 at 9 52 46 PM" src="https://user-images.githubusercontent.com/299156/137053240-605450a0-589c-4d90-a68d-c40d4094eac4.png">

[2021-11-13 04:01] nzakas opened #71 "I would like to take over as maintainer"
Hi there,

This is just a public note to follow up on a Twitter conversation. In short, I think this project is important to the ESLint community and I'd like to offer to take ownership of it and continue its maintenance and development. I'm happy to work through whatever process GitHub/npm would like to do that.

cc @evilpacket @MylesBorins

[2021-11-18 22:32] JaneJeon commented on #71
+1 on reviving this repo. GitLab uses it as their SAST tool, and it would really be nice having one, currently-updated package that is the "go to" for anyone wanting to install into their eslint chain and catch stuff automatically.

[2021-11-25 18:14] MarkKragerup commented on #71
We are a group of ESLint-enthusiasts at the IT University of Copenhagen's security faculty, who would also like to offer to maintain this package 👍🏼

[2021-11-25 21:27] theoretick commented on #71
Hi all, Gitlab team member here. Just wanted to note that while this project does currently power [part of our javascript SAST capabilities](https://gitlab.com/gitlab-org/security-products/analyzers/eslint/), we are moving away from eslint in favor of [semgrep](https://semgrep.dev/) powered [corresponding rulesets](https://gitlab.com/gitlab-org/security-products/analyzers/semgrep/-/blob/main/rules

[2021-11-25 22:59] MylesBorins commented on #71
Hey all. Just want to let you know that the npm team has been discussing how to best handle both this specific repo as well as the org as a whole. Many folks have been in and out of the office over the last week due to the holidays but we hope to have an update for y'all soon on reasonable next steps.

Thanks for your patience

[2021-12-29 19:21] nzakas commented on #71
@MylesBorins just wanted to check back to see what the status is? If it's too much work, I can always fork the project and just started from there. Let me know!

[2021-12-31 09:14] fritx opened #72 "Including "unicode bidi attacks" defense"
A solution is https://github.com/lirantal/eslint-plugin-anti-trojan-source

Consider integrating with it?

[2021-12-31 09:15] fritx commented on #72
About "unicode bidi attacks":
The Invisible JavaScript Backdoor – Certitude Blog:
https://certitude.consulting/blog/en/invisible-backdoor/

[2022-01-12 16:02] manovotny commented on #71
There are many issues regarding this same topic (see #66, #60, #56, #33).

It'd be nice if someone could take this over or archive this in favor of the actively maintained alternative [eslint-plugin-security-node](https://www.npmjs.com/package/eslint-plugin-security-node) by @gkouziik.

[2022-01-12 17:46] MylesBorins commented on #71
I'll bring this up with the team today. apologies for the delay

[2022-01-12 22:50] MylesBorins commented on #71
As a quick update. We've made some progress today in identifying the stakeholders needed to figure out next steps here. I know y'all have been waiting a while, but we are going to work on coming up with a resolution that should hopefully make everyone happy.

Thank you for offering to help maintain this project and help secure our ecosystem.

[2022-01-14 17:45] renatomariscal commented on #66
Note also, the last ~15 commits are not published to NPM, while the last commit is about 3 years old, the latest release is about 5 years old now.

[2022-01-14 17:49] renatomariscal commented on #52
This is resolved by https://github.com/nodesecurity/eslint-plugin-security/pull/38, but that is not released.
The future of maintenance of this repo is being discussed on https://github.com/nodesecurity/eslint-plugin-security/issues/71

[2022-02-04 16:40] gkouziik commented on #71
Is there any progress ?
In any case you can check [eslint-plugin-security-node](https://github.com/gkouziik/eslint-plugin-security-node).
It is actively maintained with more rules and less False Negative cases.
I would be glad to cooperate with community to develop and maintain
@nzakas @MylesBorins @manovotny

[2022-02-04 19:53] nzakas commented on #71
I've been in touch with @MylesBorins privately and we're working on it. Once we resolve the ownership issue, I'll be happy to discuss collaborating on maintenance going forward.

[2022-03-14 09:36] MarkKragerup commented on #71
@nzakas are there any news on this?

[2022-03-15 00:02] nzakas commented on #71
I haven’t heard anything else recently.

[2022-03-19 13:32] lucasvazq commented on #71
friendly bump

[2022-03-22 16:51] darcyclarke commented on #71
@nzakas I believe @nlf has added you as a maintainer to the package now (ref. https://registry.npmjs.org/eslint-plugin-security - isn't showing up on the website quite yet: https://npmjs.org/package/eslint-plugin-security) & I've just added you as a `maintainer` on this repo as well.

Would love to support you as you start digging in here & contributing. Definitely feel free to reach out to @nlf /

[2022-03-22 16:56] nlf commented on #71
:wave: let me know if i can help with anything!

[2022-03-23 00:26] nzakas commented on #71
Thanks! I’m going to dig in here and try to get the lay of the land, and then come up with a plan to move forward.

What do you think about moving the plugin into a new GitHub org? We are starting an eslint-community org, and I’d love to be able to move this there. No worries if that’s a step too far, it just seems like a nice way to dogfood what we have planned for the new org.

For anyone else w

[2022-03-24 09:42] MarkKragerup commented on #71
This is great. And i personally think eslint-community org would be the perfect place for a package like this.

I have made a fork of this repo, and updated all the dependencies, modernized the imports and improved a bit of code. It now runs nicely on newer Node versions. I'll look into the pull requests and issues next, and implement changes on the fork. Let me know, if you want to merge any of t

[2022-03-24 20:49] nzakas opened #75 "Package Modernization"
The first priority for getting this package into a state where we can make changes is to go through and modernize the repo. Here are the steps:

- [x] Switch the primary branch to `main`
- [x] Set up automated CI testing using GitHub actions (separate `lint` and `test` steps)
- [x] Enforce conventional commits formats on pull requests
- [x] Update all dependencies to latest
- [x] Set up a release

[2022-03-24 20:50] nzakas commented on #71
@MarkKragerup thanks! I've opened up https://github.com/nodesecurity/eslint-plugin-security/issues/75 to track the low-hanging fruit I think we need to get up and running again. I probably don't want to pull over everything you've done in one PR, but feel free to open some separate ones.

[2022-03-24 20:52] nzakas opened #76 "Help wanted: Issue and PR Review"
There are currently 30 open issues and 11 open pull requests. It would help me out tremendously if folks could go through them all and leave a comment containing:

1. Write a brief summary of the issue
2. Indicate if you think the issue is still relevant or not
3. Recommend what you think the next steps should be

Once we get this for all issues and PRs, I can figure out where to start.

[2022-03-24 21:06] nzakas commented on #71
@darcyclarke would it be possible to get someone to rename the "master" branch as "main"? It appears I don't have permission to do that.

[2022-03-24 21:08] MarkKragerup commented on #75
@nzakas this is awesome. This is what i was in the process of doing on the fork. I'll dig into whatever remains on this issue monday.

[2022-03-24 21:11] nlf commented on #71
i can take care of this for you! be done shortly

[2022-03-25 00:29] nzakas commented on #71
@nlf thank you, sir!

[2022-03-25 00:29] nzakas commented on #75
@MarkKragerup Awesome, thank you! 🙏

[2022-03-25 01:56] nzakas commented on #75
For the release process, I'm thinking of using [release-please](https://github.com/googleapis/release-please). I'm curious if others have experience with other systems that they might prefer?

[2022-03-25 01:56] nzakas commented on #66
It is now. See #71

[2022-03-25 01:56] #66 closed

[2022-03-25 01:56] nzakas commented on #60
See #71.

[2022-03-25 01:56] #60 closed

[2022-03-25 01:57] nzakas commented on #56
See #71.

[2022-03-25 01:57] #56 closed

[2022-03-25 01:57] nzakas commented on #33
See #71.

[2022-03-25 01:57] #33 closed

[2022-03-25 06:00] UziTech commented on #75
I like [semantic-release](https://github.com/semantic-release/semantic-release)

[2022-03-25 06:08] UziTech commented on #75
You might also want to look at [renovate](https://github.com/renovatebot/renovate) for automated dependency updates.

[2022-03-25 12:41] jesusprubio commented on #71
Nice to see this project is alive again. Totally agree in moving this repo to the eslint-community  organization.

Thank you! :)

[2022-03-25 12:49] jesusprubio commented on #4
Due to the recent new of moving this project to ESLint organization (https://github.com/nodesecurity/eslint-plugin-security/issues/71#issuecomment-1075780747), I propose to use the linter+formatter setup used there.

[2022-03-25 12:58] jesusprubio commented on #4
**Brief summary**
This project setup lacks of a formatter. Moreover, IMHO a more common linter setup should help to get new contributions.

**Still relevant?**
Yes.

**Next steps**
- Research about the linter+formatter setup from ESLint organization.
- Adapt it to this project nature (if needed).
- Make a PR with the new setup and codebase update to respect it.

[2022-03-25 13:09] jesusprubio commented on #25
**Summary**
The documentation for the `detect-new-buffer` rule was deleted from the README but the rule is still in the codebase.
- Implementation: https://github.com/nodesecurity/eslint-plugin-security/blob/main/rules/detect-new-buffer.js

**Still relevant?**
Yes.

**Next steps**
- Re-add the rule documentation (https://github.com/nodesecurity/eslint-plugin-security/pull/7/files#diff-b33563055168

[2022-03-25 13:10] jesusprubio commented on #25
I can take on this one once we start to fix things.

[2022-03-25 13:11] jesusprubio commented on #4
I can pick this one once we start to fix things.

[2022-03-25 13:31] jesusprubio commented on #5
Working fine in Windows 10 and Node 16.

Powershell
![image](https://user-images.githubusercontent.com/2753855/160130155-bb452d54-ba51-40a9-8be1-18ed71c4d72b.png)

System symbol
![image](https://user-images.githubusercontent.com/2753855/160130013-fb43157a-ff12-4ee4-b530-518f4471237f.png)

WSL
![image](https://user-images.githubusercontent.com/2753855/160129848-aa07bbab-19ba-414d-8441-62c97d3beba8.

[2022-03-25 13:38] jesusprubio commented on #58
**Summary**
This projects lacked of CI setup.

**Still relevant?**
No, solved here: https://github.com/nodesecurity/eslint-plugin-security/issues/75

**Next steps**
- Close the issue

[2022-03-25 13:42] jesusprubio commented on #48
**Summary**
It would be nice to include more rule documentation in the ESLint metadata property.

**Still relevant?**
Yes.

**Next steps**
- Decide the format to add extra info to a rule.
  - Related: https://github.com/nodesecurity/eslint-plugin-security/pull/61
  - Is it going to be mandatory for every rule?
- Update actual rules based on the decision

[2022-03-25 13:50] jesusprubio commented on #70
**Summary**
Possible corner case for `detect-possible-timing-attacks` rule.
- Rule: https://github.com/nodesecurity/eslint-plugin-security/blob/main/rules/detect-possible-timing-attacks.js

**Still relevant?**
Yes.

**Next steps**
- Decide if we consider this case a vulnerable code.
- If we decide to consider this a valid timing based vector we should verify or update our rule to support it.

[2022-03-25 13:52] jesusprubio commented on #70
IMHO technically this would a valid timing vector. Even if the lines don't make too much sense and include more dangerous vulnerabilities as hardcoding the value to check against, the use of `null` as a secret, etc.

[2022-03-25 14:12] jesusprubio commented on #69
**Summary**
TypeError in `detect-child-process` rule.

**Still relevant?**
Yes.

**Next steps**
- Verify the reported problem with the actual codebase.
- Verify the proposed solution is correct.
- Send a PR with the fix.

[2022-03-25 16:43] nzakas commented on #58
Thanks!

[2022-03-25 16:43] #58 closed

[2022-03-25 16:53] nzakas commented on #76
@jesusprubio perfect, thank you!

[2022-03-25 16:55] nzakas commented on #75
Thanks @UziTech. I'm not very familiar with semantic-release, but it looks like there's still a need to manually run a release? With release-please, it creates a PR that you merge and then a release is triggered, so it's completely hands-off.

@nlf it looks like I don't have permissions to create secrets in this repo. Would it be possible to add me as an admin? If not, would you be able to set up

[2022-03-25 16:59] UziTech commented on #75
semantic-release does automatically release as well as update changeling. I've never used release please but it looks like the main difference is that release please adds a PR that needs to be submitted to do a release where semantic-release just releases each commit that bumps the version.

[2022-03-25 19:12] nzakas commented on #75
Ah gotcha. It still looks like semantic-release gets a bit difficult with protected branches? (In terms of updating package.json and then pushing it back to the repo.)

[2022-03-25 21:42] jesusprubio commented on #69
Good catch! The extra check for non-empty array is correct. A simple example which also brokes the rule implementation:

[code]

Output:
[code]

@XERXES-MOUSAVI , thank you! would you like to write a PR?

[2022-03-25 21:47] jesusprubio commented on #29
**Summary**
Problem defining backticks as literal

**Still relevant?**
Yes, but duplicate.

**Next steps**
- Close this one and continue here: https://github.com/nodesecurity/eslint-plugin-security/issues/27

[2022-03-25 21:55] jesusprubio commented on #27
**Summary**
False positive with requires if using backticks as literal.

**Still relevant?**
Yes.

**Next steps**
- Review and merge this PR: https://github.com/nodesecurity/eslint-plugin-security/pull/32
- Close this issue.

[2022-03-25 22:06] jesusprubio commented on #64
**Summary**
Possible false positive.

**Still relevant?**
No. Verified it works fine with versions:
- Node:
- ESLint: 8.11.0
- eslint-plugin-security: 1.4.0

**Next steps**
- Close this issue.

![image](https://user-images.githubusercontent.com/2753855/160208321-68c7f734-47f9-4efc-bfad-ac8074979428.png)

[2022-03-25 22:14] jesusprubio commented on #54
**Summary**
False positive for any function with name which overlaps with fs method names. Examples:
- https://github.com/nodesecurity/eslint-plugin-security/issues/54#issuecomment-566677929
- https://github.com/nodesecurity/eslint-plugin-security/issues/54#issuecomment-661915208

**Still relevant?**
Yes.

**Next steps**
- Work in a fix

[2022-03-25 22:15] jesusprubio commented on #54
Verified with the actual version and this snippet:

[code]

Versions:
- Node: 16.14.0
- ESLint: 8.11.0
- eslint-plugin-security: 1.4.0

[2022-03-25 22:39] jesusprubio commented on #51
**Summary**
Possible false positive requiring `spawn` (vs `exec`).

**Still relevant?**
Yes.

**Next steps**
- Verify the false positive.
- If this is a false positive -> fix it
- If not -> improve the documentation if needed

[2022-03-25 22:40] jesusprubio commented on #51
Verified the rule is triggered:

[code]

[code]

[2022-03-25 22:52] jesusprubio commented on #51
As described in the doc, `spawn` is secure: https://github.com/nodesecurity/eslint-plugin-security/blob/main/docs/avoid-command-injection-node.md#so-how-do-we-do-this-the-right-way

I think the confusion comes from the fact of having two same rule errors for a vulnerable `exec` example like this:

[code]

Output:
[code]

Maybe we should include two different rules like: `detect-child-process` and

[2022-03-28 07:05] MarkKragerup commented on #4
@jesusprubio i did this on my fork. Let me suggest a PR that implements prettier and the default eslint recommendations

[2022-03-28 08:38] MarkKragerup commented on #48
I recommend a simplified PR compared to #61 which adds only meta descriptions, and doesn't modify code formatting and unused variables etc. It should be conflictless. I will look into a PR draft.

[2022-03-28 13:20] MarkKragerup commented on #48
I made a PR to replace #61. The differences are outlined in the descriptions: https://github.com/nodesecurity/eslint-plugin-security/pull/79 #79

[2022-03-29 08:15] jesusprubio commented on #4
Closing this one. Problem already solved here: https://github.com/nodesecurity/eslint-plugin-security/issues/75

[2022-03-29 08:15] #4 closed

[2022-03-30 00:12] #48 closed

[2022-04-08 00:11] #29 closed

[2022-04-18 18:57] nzakas opened #83 "Deprecate detect-buffer-noassert"
The `detect-buffer-noassert` rule is no longer needed by the `noAssert` option was removed from the `Buffer` API:
https://github.com/nodejs/node/pull/18395

We can probably just mention this in the docs and update the `meta` of the rule.

I don't believe in removing rules just in case people are still using them.

[2022-04-18 19:23] nzakas commented on #71
Closing since I'm now the maintainer. :)

[2022-04-18 19:24] nzakas commented on #75
@darcyclarke @nlf I'm unable to set up any secrets for this repo with the maintainer role. Would it be possible to set me as the owner? Otherwise, I'm stuck doing releases by hand.

[2022-05-02 05:37] sampsakuronen opened #84 "Add missing 1.5.0 changelog"
The changelog for release 1.5.0 can't be found on: https://github.com/nodesecurity/eslint-plugin-security/blob/main/CHANGELOG.md

[2022-05-31 17:55] TikiTDO opened #88 "`detect-non-literal-fs-filename` matches inconsistently"
`detect-non-literal-fs-filename` matches all instances of `id.open(nonLiteral)`, but this function name is used for more than the `fs` module.

On the other hand, when open is imported directly from fs as so:

[code]

the rule fails to fire.

[2022-06-16 16:28] devinrhode2 commented on #21
yeah it's a pretty noisy rule. Probably there are better ways to spend time improving security: use CSP.. review security vulnerabilities.. try to hack your own application.. turn on "Enhanced" browsing protection in various browsers and see if everything still works correctly, etc.

[2022-06-16 16:35] jlamendo commented on #21
I'm the original author of this rule - for a bit of context, it was originally written as an assistive tool for manual code reviews, to be used with the eslint plugin for VS Code. I would recommend disabling it for other use cases, as it's just going to be far too noisy.

[2022-07-05 16:20] revelt commented on #54
PR raised

[2022-07-14 17:40] micro-jumbo opened #90 "Java generator always adds @Json annotations for enums"
For document:
[code]

and generator:
[code]

generated `SuccessMessageMessage` `enum` contains Jackson annotations (`@JsonValue` and `@JsonCreator`), but it shouldn't:
[code]

These should be generated only when Jackson annotations are enabled.

[2022-07-14 17:42] #90 closed

[2022-08-20 11:22] BuZZ-T commented on #88
I also noticed that `detect-non-literal-fs-filename` only works in a few special cases and therefore decided to rewrite that rule.

It's completely work-in-progress right now, but there's a branch in my fork: https://github.com/BuZZ-T/eslint-plugin-security/tree/feature/extend-detect-non-literal-fs-filename.

I'll inform once it's in a PR-ready-state :)

[2022-09-10 22:35] MichaelDeBoey opened #93 "Invitation to move to official `eslint-community` org"
It's up to you, but if you'd like, you're welcome to transfer this repository to the official [`@eslint-community` organization on GitHub](https://github.com/eslint-community).

As you can read in [the '`@eslint-community` GitHub organization' RFC](https://github.com/eslint/rfcs/tree/main/designs/2022-community-eslint-org), the goal of this new org is to have a place where community members can he

[2022-09-12 20:04] nzakas commented on #93
I’d love to do this. @darcyclarke @nlf @jlamendo can anyone help with this? I don’t have permissions to move the repo.

[2022-11-03 17:49] #84 closed

[2022-11-24 04:22] lingo commented on #69
See also https://github.com/nodesecurity/eslint-plugin-security/pull/97